extend ../../templates/layout

block vars
	- var activePage = 'contact';
	
block content
	h1 500 Minutes for Parkison's Team
	p The 500 Minutes for Parkinson's site was inspired by Harry McMurtry and his 500 Miles for Parkinson's Project. The lessons and resources were created by Sue Thompson and a team of dedicated students and teachers. 
	
	h4 Thanks to:
	
	ul
		li Mark Brimms
		li Phillip Christofferson
		li Barb Dinardo
		li Laima Gulens
		li Mia Saunders
		li Reena Seeger
		li Tom Thompson
		li Laura Wu
		li Jeffrey Xiao


block sidebar
	.widget
		h1 Visit us on social media!
		button(onclick="window.location.href='https://www.facebook.com/500-Miles-for-Parkinsons-1692172241046212/'") Facebook
		button(onclick="window.location.href='https://twitter.com/shakyharry'")	Twitter
		button(onclick="window.location.href='https://www.instagram.com/500milesforparkinsons/'") Instagram
		p
		img(src="http://fivehundredmiles.org/wp-content/uploads/2016/02/Logo-for-Web.png")