extend ../../templates/layout

block vars
	- var activePage = 'contact';

block content
	h1 Harry McMurtry
	p Harry was a litigation lawyer until Parkinson&rsquo;s disease cut short his professional career at the age of 48.
	p Harry attended Queen&rsquo;s University at Kingston, Canada where he received a Bachelor of Science (Life Sciences) in 1985 and a Bachelor of Laws in 1989.&nbsp; At Queen&rsquo;s, he played two seasons for the varsity basketball team.&nbsp; After graduating from law school, he articled in Toronto, Canada.&nbsp; After his call to the Bar in 1991, Harry returned to Kingston to pursue his law career.&nbsp; In addition to working in a private practice, Harry was a lecturer for five years at St. Lawrence College.&nbsp; In 1994, he was appointed a part-time prosecutor (Assistant Crown Attorney).
	p In 1996, Harry joined the estate litigation practice of Hull &amp; Hull in Toronto.&nbsp; Wanting to broaden his litigation practice, Harry joined Blaney McMurtry in 1997 where he became a partner.&nbsp; Harry moved once again in 2004 to the firm at which he would eventually retire as a name partner: Affleck Greene McMurtry.
	p In 1983, Harry started Camp Awakening, a summer camp for children with physical disabilities (it recently completed its 33<sup>rd</sup> year of operation).&nbsp; Before resigning from the Board in 1997, Harry organized a unique fundraising event at which recording artist Tom Cochrane performed.&nbsp; Harry raised $50,000 for Camp Awakening.&nbsp;&nbsp;
	p Harry was diagnosed with Parkinson's disease in 2005 at the age of 42.&nbsp;&nbsp; In 2010, he retired from the legal profession. &nbsp;He had DBS surgery the following year.&nbsp; With encouragement from a friend with the disease, Harry started fundraising for various Parkinson&rsquo;s causes.&nbsp; In 2011, he raised over $20,000 for Parkinson Society Canada through Parkinson SuperWalk.&nbsp; The next year, he put on a concert and raised almost $35,000 for PSC.&nbsp; In 2013, Harry aimed higher.&nbsp; Relying on his good friend Tom Cochrane (whose father, coincidentally, suffered from PD), they raised $460,000 for the movement disorders centre at the Toronto Western Hospital.
	p Harry lives in New York City with his wife, Deborah Bradley.&nbsp; He has three children from a previous marriage and three stepchildren.

block sidebar
	.widget
		h1 Widget
		p
			| Sed auctor neque eu tellus rhoncus ut
			| eleifend nibh porttitor. Ut in nulla enim.
		p
			| Vivamus hendrerit arcu sed erat molestie
			| vehicula.