extend ../../templates/layout

block vars
	- var activePage = 'contact';

block content
	h1 Dr. Ross Sugar
	
	p Ross grew up in Rockville, MD, and graduated from Duke University in 1982 with an undergraduate math degree.  After 10 years as a computer science programmer, Ross decided to follow his dream of becoming a physician.  He worked as a specialist in Pain Management until April of 2015, when he decided to stop working due to symptoms of PD.

	p Despite his PD diagnosis, Ross has steadfastly maintained a vigorous and challenging athletic regimen.  He walks or runs nearly daily.  He has trained in boxing, and he attempted scaling Mount Rainier.  His group was turned around due to a heavy storm and avalanche conditions, but he hopes to return to Rainier some day.

	p When presented with the opportunity to participate with in 500 Miles for Parkinson's, Ross jumped at the chance to combine his love of difficult athletic challenges with a desire to help raise money for a cause that is so personally important to both Ross and his family.

	p Ross lives in Baltimore, Maryland, with Julie, his wife of 25 years.  They have two children: Kirsten and Nevin.

block sidebar
	.widget
		h1 Visit us on social media!
		button(onclick="window.location.href='https://www.facebook.com/500-Miles-for-Parkinsons-1692172241046212/'") Facebook
		button(onclick="window.location.href='https://twitter.com/shakyharry'")	Twitter
		button(onclick="window.location.href='https://www.instagram.com/500milesforparkinsons/'") Instagram
		p
		img(src="http://fivehundredmiles.org/wp-content/uploads/2016/02/Logo-for-Web.png")