doctype
html
	head
		title #{title} - 500 Miles For Parkisons
		link(rel='stylesheet', href='/styles/main.css')
	body
		header
			h1 My Site
		nav
			ul
				li: a(href='home') Home
				li: a(href='lessons') Lessons
				li: a(href='resources') Resources
				li: a(href='fundraising') Fundraising
				li: a(href='contact') Contact
		.container
			.main-content
				block content
			.sidebar
				block sidebar
		footer
			p Running on node with Express and Jade