doctype
html
	block vars
	head
		title #{title} - 500 Miles For Parkisons
		link(rel='stylesheet', href='/styles/main.css')
		line(rel='stylesheet', href='https://fonts.googleapis.com/css?family=PT+Sans', type='text/css')
	body
		header
			h1 500 Miles For Parkisons
		nav
			ul
				li: a(href='/', class = activePage == 'home' ? 'active' : '') Home
				li: a(href='/lessons', class = activePage == 'lessons' ? 'active' : '') Lessons
				li: a(href='/resources', class = activePage == 'resources' ? 'active' : '') Resources
				li: a(href='/fundraising', class = activePage == 'fundraising' ? 'active' : '') Fundraising
				li: a(href='/contact', class = activePage == 'contact' ? 'active' : '') Contact
		.container
			.main-content
				block content
			.sidebar
				block sidebar
		footer
			p Running on node with Express and Jade