$main-color: #fa5b4a;
$background-color: #faf9f0;

html {
	font-family: 'PT Sans', sans-serif;
}

nav {
	text-align: center;
	background-color: #191E28;
	ul {
		list-style-type: none;
		margin: 0 auto;
		padding: 0;
		
		li {
			display: inline-block;
			a {
				display: inline-block;
				text-decoration: none;
				padding: 16px 20px 20px 20px;
				color: #aaa;
				font-size: 18px;
				border-top: 4px #191E28 solid;
				
				transition: 0.5s all;
				&.active {
					border-top: 4px #fff solid;
					padding-top: 16px;
					color: #fff;
				}
				&:hover {
					border-top: 4px #ccc solid;
					padding-top: 16px;
					color: #ccc;
				}
			}
		}
	}
}

body {
	font-family: 'Georgia';
	background-color: $background-color;
	color: #444;
}

header {
	padding: 50px 10px;
	color: #fff;
	font-size: 25px;
	text-align: center;
	background-color: $main-color;
}

.container {
	width: 500px;
	margin: 50px auto;
	overflow: hidden;
}

.main-content {
	float: left;
	width: 300px;
	
	p {
		margin-bottom: 20px;
	}
}

.sidebar {
	float: left;
	width: 200px;
	
	.widget {
		border-radius: 3px;
		border: 1pxx solid #ccc;
		margin-left: 20px;
		background-color: $background-color;
		
		h1 {
			margin: 13px 10px 4px 10px;
			padding-bottom: 10px;
		}
		
		p {
			font-size: 13px;
			padding: 0px 10px;
			margin-bottom: 10px;
		}
	}
}

p {
	line-height: 1.8;
}

footer {
	width: 500px;
	margin: 50px auto;
	border-top: 1px dotted #ccc;
	padding-top: 5px;
	font-size: 13px;
}