extend ../templates/layout

block vars
	- var activePage = 'contact';

block content
	h1 #{title}
	div(class='contact-form')
		form(onsubmit="return validateForm()" method="POST" action="email")
			input(name='name' id='name' placeholder='Name')
			input(name='email' id='email' placeholder='Email')
			input(name='subject' id='subject' placeholder='Subject')
			textarea(name='comment' id='comment' placeholder='Type your message here...' rows='5')
			div(id='error')
			button(type='submit') #[i(class="fa fa-paper-plane" aria-hidden="true")]&nbsp;Submit

block sidebar
	.widget
		h1 Visit us on Facebook, Twitter, or Instagram
		button(onclick="window.location.href='https://www.facebook.com/500-Miles-for-Parkinsons-1692172241046212/'")	Facebook
		button(onclick="window.location.href='https://twitter.com/shakyharry'", background-color)	Twitter
		button(onclick="window.location.href='https://www.instagram.com/500milesforparkinsons/'")	Instagram
		p
		img(src="http://fivehundredmiles.org/wp-content/uploads/2016/02/Logo-for-Web.png", style="width:200px;height:200px;")

