extend ../templates/layout

block vars
	- var activePage = 'contact';

block content
	h1 #{title}
	div(class='contact-form')
		form(onsubmit="return validateForm()" method="POST" action="email")
			input(name='name' id='name' placeholder='Name')
			input(name='email' id='email' placeholder='Email')
			input(name='subject' id='subject' placeholder='Subject')
			textarea(name='comment' id='comment' placeholder='Type your message here...' rows='5')
			div(id='error')
			button(type='submit') #[i(class="fa fa-paper-plane" aria-hidden="true")]&nbsp;Submit

block sidebar
	.widget
		h1 Widget
		p
			| Sed auctor neque eu tellus rhoncus ut
			| eleifend nibh porttitor. Ut in nulla enim.
		p
			| Vivamus hendrerit arcu sed erat molestie
			| vehicula.