extend ../templates/layout

block vars
	- var activePage = 'follow';
	
block content
	p Follow Harry, Sue, and Ross on their journey!
	iframe(style="width: 100%; height: 500px" src="http://share.findmespot.com/shared/faces/viewspots.jsp?glId=08E77dFJpiYJYvxVC5ED26Mk1STAmilfa")

block sidebar
	.widget
		h1 Widget
		p
			| Sed auctor neque eu tellus rhoncus ut
			| eleifend nibh porttitor. Ut in nulla enim.
		p
			| Vivamus hendrerit arcu sed erat molestie
			| vehicula.