extend ../templates/layout

block vars
	- var activePage = 'fundraising';

block content
	h1 #{title}
	p Schools may buy a mile through student fundraising activities. We believe that one is never too young to learn the value of charitable giving. Furthermore, 100% of the money raised by schools will be donated to The Michael J. Fox Foundation for Parkinson's Research.
	
	h4 "Buy a Mile" Fundraising Objectives:

	ul
		li Students learn about Parkison's Disease
		li Fundraise for a great cause
		li Students get involved in their community
		li Increase fitness, awareness, and involvement
	
	h4 How To Get Involved
	
	ul
		li Organize A walk at your school -- as part of class/gym, as a group or individuals or as an extra-curricular event!
		li Collect money as a class, then as a school to submit your efforts to #[a(href="www.fivehundredmiles.org") Five Hundred Miles]
		li Put signs pinned to students' shirts; "I walk for Parkinson's because..." then let the students fill in an answer with markers.
	
	h4 Materials Needed
	
	ul
		li Running Shoes
		li Positive Attitude		

block sidebar
	.widget
		h1 Visit us on social media!
		button(onclick="window.location.href='https://www.facebook.com/500-Miles-for-Parkinsons-1692172241046212/'")	Facebook
		button(onclick="window.location.href='https://twitter.com/shakyharry'")	Twitter
		button(onclick="window.location.href='https://www.instagram.com/500milesforparkinsons/'")	Instagram
		p
		img(src="http://fivehundredmiles.org/wp-content/uploads/2016/02/Logo-for-Web.png")