extend ../templates/layout

block vars
	- var activePage = 'resources';
	
block content
	h1 #{title}
	ul
		li: a(href='/pledgeform/CopyofPledgeForm.pdf') Pledge Form

block sidebar
	.widget
		h1 Visit us on Facebook, Twitter, or Instagram
		button(onclick="window.location.href='https://www.facebook.com/500-Miles-for-Parkinsons-1692172241046212/'")	Facebook
		button(onclick="window.location.href='https://twitter.com/shakyharry'")	Twitter
		button(onclick="window.location.href='https://www.instagram.com/500milesforparkinsons/'")	Instagram
		p
		img(src="http://fivehundredmiles.org/wp-content/uploads/2016/02/Logo-for-Web.png", style="width:200px;height:200px;")



